/*
Colors
borders: #666
base color: dodgerblue
highlights: turquoise
darker: rgb(14, 54, 94)
font default: white

*/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10pt;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: "Zekton";
}

body {
    background-color: #333;
}

p {
    font-size: 1.8em;
}

h1 {
    font-size: 3em;
}

.container {
    text-align: center;
}

canvas {
    margin: auto;
    border: 1px solid black;
}

/* Main Menu items*/
#main-menu {
    width: 800px;
    height: 946px;
    background-color: black;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/ui/background.png");
}

.menu-options li {
    list-style: none;
}

.menu-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    font-size: 3em;
    width: 400px;
    height: 80px;
    border-radius: 8px;
    border: 6px solid midnightblue;
    margin: 30px 0;
}

.menu-options a:hover {
    background-image: linear-gradient(dodgerblue,turquoise,dodgerblue);
    border: 1px solid white;
    box-shadow:
    0 0 2px 2px turquoise,
    0 0 6px 6px dodgerblue;
}

/*Modals*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 10px;
    border: 12px solid midnightblue;
    text-align: center;
    padding: 10px;
    background-color: rgba(30, 143, 255, 0.5);
}

.modal p {
    padding: 0 20px;
    margin: 20px 0;
}

.modal img {
    margin: 20px 0;
}

.close {
    border: 1px solid white;
    border-radius: 8px;
    float: right;
    width: 50px;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
  }